<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div >

    <script src="/jquery.min.js"></script>
    <script src="/mqttws31.js"></script>
    <script src="/webSocket.js"></script>
</div>

<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>

<body>
<span th:text="${info}"/>
<div id="myId"></div>

</body>

<script th:inline="javascript">
    mqtt_connect();

    function handler(data) {
       var username = data.userName;
       var password = data.password;
       var userId = data.userId;
       alert(username+" "+password+" "+userId);
    }
</script>
</html>